.banner_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  justify-content: center;
}

.text_title {
  font-size: clamp(2rem, 5vw, 3rem);
  margin: 1rem 0rem;
  text-align: center;
  max-width: 900px;
}

.ligth_text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.call_to_action_section {
  display: flex;
  gap: 2rem;
}
figure img {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* companies_support */

.companies_support {
  display: flex;
  margin: 2rem 0rem;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

/* step_cleint_orange */
.step_cleint_orange {
  margin: 4rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step_cleint_orange h2 {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  max-width: 500px;
  margin: 1rem auto;
}
.step_cleint_orange h2 span {
  color: #0693e3;
  font-weight: bold;
  padding: 0rem 0.5rem;
}
.step_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  align-items: center;
}

.step_item {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  min-width: 200px;
  width: 100%;
  max-width: 350px;
}
.step_item .descriptio {
  font-size: 0.8rem;
  color: gray;
}
.link_sectiob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0693e3;
}
.step_item img {
  width: 50px;
}

/* testimonials */
.testimonials {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  border-radius: 5px;
  max-width: 700px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.testimonials_description {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: clamp(1rem, 2vw, 2.5rem);
}
.testimonials_description p {
  width: 80%;
}
.testimonials img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* tag_wrapper */

.tag_wrapper {
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 0.2rem;
  gap: 1rem;
  -o-border-radius: 5px;
  margin: 1rem auto;
  background-color: lightgray;
}
.tag_wrapper button {
  padding: 0.5rem 1.5rem;
  color: gray;
  font-weight: bold;
}
.tag_wrapper button.active {
  background-color: white;
  border-radius: 5px 0 0px 5px;
}
.tag_wrapper > :nth-child(1) {
  border-radius: 5px 0 0px 5px;
  -webkit-border-radius: 5px 0 0px 5px;
  -moz-border-radius: 5px 0 0px 5px;
  -ms-border-radius: 5px 0 0px 5px;
  -o-border-radius: 5px 0 0px 5px;
}

.tag_wrapper > :last-child {
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
}

/* price_wrapper */
.price_wrapper {
  display: flex;
  margin: 2rem 1rem;
  flex-direction: column;
}
.price_wrapper .testimonials {
  font-size: 3rem !important;
}
.price_wrapper .testimonials img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.bundle_pricing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.price {
  color: #0693e3;
  font-weight: bolder;
  font-size: 2.5rem;
}
.caracterisque > * {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: gray;
}
.caracterisque > * > :nth-child(2) {
  flex: 1;
}
.caracterisque > * > svg {
  background-color: gray;
  display: block;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.suscribe_btn {
  display: flex;
  align-items: center;
}
.suscribe_btn button {
  background-color: #0693e3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  max-width: 300px;
  width: 80%;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
.testinomial_section {
  width: 100%;
  background-color: #0693e3;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  max-width: 800px;
  margin-bottom: 1rem;
  -o-border-radius: 10px;
}
.testimonial_item {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.testimonial_wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .step_wrapper {
    flex-direction: row;
    width: 90%;
  }
  .price_wrapper {
    flex-direction: row;
    align-items: center;
    max-width: 700px;
    gap: 2rem;
    margin: auto;
  }
  .testinomial_section {
    margin: auto;
    margin-bottom: 2rem;
  }
  .testimonial_wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
}
